/* colors */
/* 
font-family: 'Boogaloo', cursive;    - buttons
font-family: 'Jockey One', sans-serif;      - titles
font-family: 'Josefin Sans', sans-serif;       - content
font-family: 'Reenie Beanie', cursive; -  כתב יד
 */

:root {
  --c-purpel: #6b5b95;
  --c-orenge: #feb236;
  --c-pink: #d64161;
  --c-horenge: #ff7b25;
  --c-gray-2: #ccc;
  --c-gray-3: #555;
}
body {
  background: ghostwhite;
}
.link-b {
  text-decoration: none;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999;
}

.navigation {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  backdrop-filter: blur(20px);
  /* background: linear-gradient(
    to bottom,
    rgba(248, 248, 255, 1),
    rgba(248, 248, 255, 0.8)
  ); */
}
#logo img {
  width: 4em;
}
#logo {
  padding: 0.2em;
}
.navigation a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: var(--c-gray-3);
  font-family: "Boogaloo", cursive;
  font-size: 2em;
  transition-property: background;
  transition-duration: 0.6s;
}

.navigation a:hover {
  background: var(--c-pink);
}
.navigation #tihs-page {
  background: var(--c-pink);
}

/* toc-------------------------------- */
#toc {
  transition-property: right;
  transition-duration: 0.6s;
  position: fixed;
  width: 250px;
  height: 50vh;
  right: -205px;
  top: 20vh;
  font-size: 18px;
  display: grid;
  grid-template-columns: [emoje]50px [links]200px;
  align-items: center;
  justify-items: center;
  background: linear-gradient(
    to left,
    rgba(248, 248, 255, 1),
    rgba(248, 248, 255, 0)
  );
  border-radius: 3%;
}

#links {
  grid-column-start: 2;
  grid-column-end: 3;
  width: 100%;
}
#emoje {
  font-size: 30px;
  grid-column-start: 1;
  grid-column-end: 2;
  width: 100%;
}

#links li {
  font-family: "Jockey One", sans-serif;
  text-decoration: none;
  font-size: 20px;
  margin-top: 20px;
   line-height: 200%;
}

#toc:hover {
  right: 0;
}

.firstSec {
  margin-top: 100px;
}

section {
  height: 100vh;
  align-content: center;
}
/* title section */

.pageTitle {
  display: grid;
  grid-template-rows: 30vh 55vh;
  /* grid-template-columns: 50vw 50vh; */
  justify-items: center;
}
.pageTitle h1 {
  grid-row: 1/2;
  filter: none;
  font-family: "Reenie Beanie", cursive;
  font-size: 30vh;
  font-weight: 1000;
  margin: 0;
}
.pageTitle img {
  grid-row: 2/3;
  /* padding: 4vh; */
  object-fit: cover;
  display: inline;
  max-height: 100%;
  margin: 0;
}

/*                                     grid for section content */

.content {
  display: grid;
  grid-template-columns: [le-ma]15vw [content-left]35vw [content-right]35vw [rit-ma]15vw;
  grid-template-rows: [only-text]10vw [text-img]10vw [image]10vw;
  column-gap: 2vw;
  row-gap: 1vw;
}

.left-up {
  grid-column: 2/3;
  grid-row: 1/3;
}
.left-do {
  grid-column: 2/3;
  grid-row: 2/4;
}
.right-do {
  grid-column: 3/4;
  grid-row: 2/3;
}
.right-up {
  grid-column: 3/4;
  grid-row: 1/3;
}
.textbox{
  border: #d64161;
  border-radius: 3px;
  border-width: 4px;

 /* background-image: radial-gradient(circle, rgba(255, 0, 0, 0),  #d6416100, #d64161); */
 /* background: #d64161; */
}
.content h1 {
  font-family: "Jockey One", sans-serif;
  font-size: 5vh;
}
.content p {
  font-family: "Josefin Sans", sans-serif;
  font-size: 3vh;
  line-height: 150%;
}

.content img {
  object-fit: cover;
  width: 100%;
}

/* exmple sections                           */

.exemple {
  display: flex;
  background: var(--c-gray-2);
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.exemple h2 {
  font-family: "Jockey One", sans-serif;
  font-size: 5vw;
  margin-top: -1vh;
}

.exemples {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.exemples a {
  background: var(--c-orenge);
  border-radius: 3%;
  display: block;
  padding: 1vw;
  text-align: center;
}
.exemples img {
  height: 30vh;
  object-fit: cover;
  width: 100%;
  max-height: 100%;
}

footer {
  margin: 40px 3em -5px;
  background: var(--c-purpel);
  padding: 2em;
  border-radius: 20px 20px 0 0;
  display: flex-end;
  font-family: "Jockey One", sans-serif;
  align-items: flex-end;
}

footer a {
  display: inline;
  margin: 1em;
}
footer span {
  margin: 1em;
  display: block;
}
footer img {
  display: inline;
  margin-bottom: -70px;
}

@media all and (max-width: 800px) {
  .navigation {
    justify-content: space-around;
  }
  .section {
    height: 500px;
  }
}

@media all and (max-width: 600px) {
  .navigation {
    flex-flow: column wrap;
    padding: 0;
  }
  .navigation a {
    text-align: center;
    padding: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
}
